#!name=UTH APP
#!desc=Fake info UTH APP + Log response về Discord

[Script]
summaryHook = type=http-response, pattern=^https:\/\/portal-publicapp\.ut\.edu\.vn\/api\/v1\/user\/getSummaryProfile$, script-path=https://raw.githubusercontent.com/PhatDepTraihihi/apputh/refs/heads/main/module/SumaryProfileEditing.js, requires-body=true

dashboardHook = type=http-response, pattern=^https:\/\/portal-publicapp\.ut\.edu\.vn\/api\/v1\/user\/getDashboardConfig$, script-path=https://raw.githubusercontent.com/PhatDepTraihihi/apputh/refs/heads/main/module/DashboardConfigEditing.js, requires-body=true

logSummaryResponse = type=http-response, pattern=^https:\/\/portal-publicapp\.ut\.edu\.vn\/api\/v1\/user\/getSummaryProfile$, script-path=https://raw.githubusercontent.com/PhatDepTraihihi/apputh/refs/heads/main/module/logAllResponse.js, requires-body=true, timeout=60

logDashboardResponse = type=http-response, pattern=^https:\/\/portal-publicapp\.ut\.edu\.vn\/api\/v1\/user\/getDashboardConfig$, script-path=https://raw.githubusercontent.com/PhatDepTraihihi/apputh/refs/heads/main/module/logAllResponse.js, requires-body=true, timeout=60

[MITM]
hostname = portal-publicapp.ut.edu.vn
