#!name=UTH APP
#!desc=Fake info UTH APP

[Script]
summaryHook = type=http-response, pattern=^https:\/\/portal-publicapp\.ut\.edu\.vn\/api\/v1\/user\/getSummaryProfile$, script-path=https://raw.githubusercontent.com/PhatDepTraihihi/apputh/refs/heads/main/module/SumaryProfileEditing.js, requires-body=true

dashboardHook = type=http-response, pattern=^https:\/\/portal-publicapp\.ut\.edu\.vn\/api\/v1\/user\/getDashboardConfig$, script-path=https://raw.githubusercontent.com/PhatDepTraihihi/apputh/refs/heads/main/module/DashboardConfigEditing.js, requires-body=true

[MITM]
hostname = portal-publicapp.ut.edu.vn
